<style>
    .detail-detail {
    white-space: pre-line;
    margin-bottom:4rem;
    display:flex;
    width:100%;
    background: #dddddd;
    border-radius:16px;
    }
    .detail-detail p {
    font-size:0.5rem;
    padding:2rem;
    padding-top:0rem;
    }
</style>
<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" href="{% static 'To_DoZ/style.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-DOZ</title>

</head>
<body>
<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url 'To_DoZ:home' %}" class="nav_button">Home</a></li>
                <li><a href="{% url 'To_DoZ:history' %}" class="nav_button">History</a></li>
            </ul>
            <div class="logo">
                <a href="{% url 'To_DoZ:home' %}" class="solid_button">TO-DOZ</a>
            </div>
            <div class="account">
                <a>{{user}}</a>
                <a href="{% url 'account_logout' %}" class="logout_button">Log out</a>
            </div>

        </nav>

        <div class="page">
            <h1>DETAIL PAGE</h1>
        </div>

        <section class="header-info">
            <div class="detail">
                <div class="detail-header-subject">
                    <h1>{{task.title}}</h1>
                </div>
                <div class="detail-header-task">


                    <h3>{{task.to_do_list.subject}}</h3>
                    <ul>
                        <li><a href="{% url 'To_DoZ:update_task' task.to_do_list.pk task.pk %}" class="history_button">
                            edit
                        </a></li>

                        <li><a href="{% url 'To_DoZ:delete_task' task.to_do_list.pk task.pk %}" class="history_button">
                            delete
                        </a></li>

                    </ul>
                </div>
                <hr>
                <div class="detail-header-lower">
                    <p>
                        deadline: {{task.deadline}}
                    </p>
                    <p>
                        detail:
                    </p>
                    <div class="detail-detail">
                        <p>
                            {{task.detail}}
                        </p>

                    </div>

                    {% if task.status == True%}
                    <a href="{% url 'To_DoZ:done' task.pk %}" class="done_button">Redone</a>
                    {% else %}
                    <a href="{% url 'To_DoZ:done' task.pk %}" class="done_button">Done</a>
                    {% endif %}
                </div>


            </div>


        </section>
    </div>
</header>
</body>
</html>