<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" href="{% static 'To_DoZ/style.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url 'To_DoZ:home' %}" class="nav_button">Home</a></li>
                <li><a href="{% url 'To_DoZ:history' %}" class="nav_button">History</a></li>
                <li><a href="{% url 'To_DoZ:get_data' %}" class="nav_button">Add classroom</a></li>
            </ul>
            <div class="logo">
                <a href="{% url 'To_DoZ:home' %}" class="solid_button">TO-DOZ</a>
            </div>
            <div class="account">
                <a>{{user}}</a>

                <a href="{% url 'account_logout' %}" class="logout_button">LOGOUT</a>
            </div>

        </nav>

        <div class="page">
            <h1>HOME PAGE</h1>
        </div>

        <section class="header-info">
            {% for todolist in todolist_list %}
            <div class="sec">
                <div class="subject-list-title">
                    <h3>{{todolist.subject}}</h3>
                    <a href="{% url 'To_DoZ:update_list' todolist.pk %}" class="history_button">
                        EDIT
                    </a>
                    <a href="{% url 'To_DoZ:delete_list' todolist.pk %}" class="history_button">
                        DELETE
                    </a>
                </div>
                <hr>
                <div class="task-list">
                    {% if todolist.task_set.all %}
                    {% for task in todolist.task_set.all %}
                    {% if task.status == False %}
                    {% if task.is_late == True %}
                    <div class="each_task">
                        <div class="card-late">
                            <div class="task-name">
                                <a href="{% url 'To_DoZ:detail' todolist.pk task.pk %}">{{task.title}}</a>
                            </div>

                            <p>
                                deadline: {{task.deadline}}
                            </p>
                            <div class="card-bottom-part">
                                <a href="{% url 'To_DoZ:done' task.pk %}" class="late_done_button">DONE</a>
                            </div>
                        </div>


                    </div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    {% for task in todolist.task_set.all %}
                    {% if task.status == False %}
                    {% if task.is_late == False %}
                    {% if task.priority == True %}
                    <div class="each_task">
                        <div class="card">
                            <div class="task-name">
                                <a href="{% url 'To_DoZ:detail' todolist.pk task.pk %}">{{task.title}}</a>
                            </div>

                            <p>
                                deadline: {{task.deadline}}
                            </p>
                            <div class="card-bottom-part">
                                <a href="{% url 'To_DoZ:done' task.pk %}" class="done_button">DONE</a>
                            </div>
                        </div>


                    </div>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}



                    {% for task in todolist.task_set.all %}
                    {% if task.status == False %}
                    {% if task.is_late == False %}
                    {% if task.priority == False %}
                    <div class="each_task">
                        <div class="card">
                            <div class="task-name">
                                <a href="{% url 'To_DoZ:detail' todolist.pk task.pk %}">{{task.title}}</a>
                            </div>

                            <p>
                                deadline: {{task.deadline}}
                            </p>
                            <div class="card-bottom-part">
                                <a href="{% url 'To_DoZ:done' task.pk %}" class="done_button">DONE</a>
                            </div>
                        </div>


                    </div>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    {% endif %}
                    <a href="{% url 'To_DoZ:create_task' todolist.pk %}" class="add_button">
                        ADD TASK
                    </a>
                </div>
            </div>

            {% endfor %}
            <a href="{% url 'To_DoZ:create_list' %}" class="add_todo_button">
                ADD TO-DOZ
            </a>

        </section>
    </div>
</header>
</body>
</html>