<style>
.detail {
margin-left: 4rem;
width: 90%;
}
.detail p{
font-size: 1.5rem;
margin-bottom:1rem;
}
    .previous {
  background-color: #f1f1f1;
font-weight: bold;
font-size: 2rem;
color: black;
  width:3rem;
  display: flex;
  justify-content: center;
}
.previous a{
  text-decoration: none;
  color: black;
  padding: 8px 16px;
}

.previous a:hover {
  background-color: #ddd;
  color: black;
  cursor:pointer;
}
</style>

<!DOCTYPE html>
<html lang="en">
{% load static %}

<link rel="stylesheet" href="{% static 'To_DoZ/style.css' %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DOZ</title>
</head>
<body>
<header>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{% url 'To_DoZ:home' %}" class="nav_button">Home</a></li>
                <li><a href="{% url 'To_DoZ:history' %}" class="nav_button">History</a></li>
            </ul>
            <div class="logo">
                <a href="{% url 'To_DoZ:home' %}" class="solid_button">TO-DOZ</a>
            </div>
            <div class="account">
                <a>{{user}}</a>
                <a href="{% url 'account_logout' %}" class="logout_button">Log out</a>
            </div>

        </nav>

        <div class="page">
            <h1>Delete Task</h1>
        </div>
        <div class="previous">
            <a onclick="history.back()">&#8249;</a>
        </div>

        <section class="header-info">
            <div class="detail">
                            <form method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" value="Confirm" class="done_button">
            </form>
            </div>


        </section>
    </div>
</header>
</body>
</html>